*.patch
*~
.sc-start*
/COPYING
/ChangeLog
/GNUmakefile
/HACKING
/INSTALL
/README-release
/aclocal.m4
/autom4te.cache
/config.cache
/config.log
/config.status
/config.status.lineno
/configure
/configure.lineno
/gnulib
/lib
/maint.mk
/zee*.tar.gz
/zee*.tar.gz.directive*
/zee*.tar.gz.sig
Makefile
Makefile.in
