/zee-[0-9]*.rock
/zee-[0-9]*.rockspec
*~
/COPYING
/ChangeLog
/INSTALL
/README-release
/aclocal.m4
/autom4te.cache
/config.cache
/config.log
/config.status
/config.status.lineno
/configure
/configure.lineno
/luarocks
/luarocks-config.lua
/release-notes*
/zee*.tar.gz
Makefile
Makefile.in
