*.patch
*~
.sc-start*
.gitmodules
/COPYING
/ChangeLog
/GNUmakefile
/README-release
/aclocal.m4
/autom4te.cache
/build-aux
/config.cache
/config.log
/config.status
/config.status.lineno
/configure
/configure.lineno
/gnulib
/lib
/maint.mk
/zile*.tar.gz
/zile*.tar.gz.directive*
/zile*.tar.gz.sig
Makefile
Makefile.in
