# .zee sample configuration

# The default tabulation width [default: 8]
set_variable tab_width 8

# Standard indentation level [default: 4]
# Default number of columns for margin-changing functions to indent.
set_variable standard_indent 4

# The default fill column (in Auto Fill Mode) [default: 72]
set_variable fill_column 72

# Enable the Auto Fill Mode [default: false]
set_variable auto_fill_mode false

# Preserve case in replacements by query_replace [default: true]
set-variable case_replace true
